#AutomationStart Berlins 20-21 NOV. 2023
#Automation for Accessibility – A Real Challenge
#Thiago Machado & Christiano Guerra
#Unitrack folders or/ and files

.DS_Store
euroemp/__pycache__/
tests/node_modules/
