div {
  margin: 20px;
  width: 96%;
  border: 2px solid gray;


.container {
  margin-top: 20px;
}

h1 {
  font-weight: 800
  font-size: 2.5rem;
  color: #141b4d;
}

button {
  border-radius: 5px;
  font-weight: 800
  background-color: #1f38c2;
}
