{% load static %}
<link rel="stylesheet" href="{% static 'employee/style.css' %}">

{% block center %}
<div class="bs-square">
    <h1 class="panel-title">Address Creation Page</h1>
    <form class="form-inline" action="" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="area">
                <div class="street">
                    <label class="control-label">Street address</label><br/>
                    {{ form.address_line1 }}
                    <font color="red">{{ form.errors.address_line1 }}</font><br/>
                </div>
            </div>
            <div class="area">
                <div class="number">
                    {{ form.number.label }}<br/>
                    {{ form.number }}
                    <font color="red">{{ form.errors.number }}</font><br/>
                </div>
            </div>

            <div class="area">
                <label class="control-label">More Address Information</label><br/>
                {{ form.others }}
                <font color="red">{{ form.errors.others }}</font><br/>
            </div>
        </div>
        <div class="form-group">
            <div class="area">
                {{ form.city.label }}<br/>
                {{ form.city }}
                <font color="red">{{ form.errors.city }}</font><br/>
            </div>
            <div class="area">
                {{ form.county.label }}<br/>
                {{ form.county }}
                <font color="red">{{ form.errors.county }}</font><br/>
            </div>
            <div class="area">
                {{ form.country.label }}<br/>
                {{ form.country }}
                <font color="red">{{ form.errors.country }}</font><br/>
            </div>
            <div class="area">
                {{ form.zip_code.label }}<br/>
                {{ form.zip_code }}
                <font color="red">{{ form.errors.zip_code }}</font><br/>
            </div>
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Add the Street name...';
		form_fields[1].style='width:500px;';
		form_fields[2].placeholder='Add the number...';
		form_fields[2].style='width:130px;';
		form_fields[3].placeholder='Other Address Information...';
		form_fields[3].style='width:500px;';
		form_fields[4].placeholder='Insert the city name';
		form_fields[4].style='width:400px;';
		form_fields[5].placeholder='Insert the County or State name...';
		form_fields[5].style='width:400px;';
		form_fields[6].placeholder='Insert the Country...';
		form_fields[6].style='width:300px;';
		form_fields[7].placeholder='Add Zip Code...';
		form_fields[7].style='width:130px;';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
	}
</script>
{% endblock %}