{% load static %}
<link rel="stylesheet" href="{% static 'addr/style.css' %}">

{% block center %}
<title>
    Address
</title>
{% for addr in address.all %}
    {% if forloop.last %}
        <h1>{{ addr }} </br>had been added with success!</h1>
    {% endif %}
{% endfor %}
<ul>
{% for addr in address.all %}
    <li>{{addr.address_line1}} - {{addr.number}}, {{ addr.others }}; City: {{ addr.city }} - County: {{ addr.county }} - Country: {{addr.country.name}}</li>
{% endfor %}
</ul>
{% endblock %}